# Database
POSTGRES_DB=hackathon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Hackthon2026*
DB_PORT_EXTERNAL=5432

# Java backend
JAVA_PORT_EXTERNAL=8080
JWT_SECRET=9d3edce9-bd07-400d-96e8-d58de3ddf976

# Python backend
PYTHON_PORT_EXTERNAL=8000
SUPABASE_TABLE=avistamientos

# Frontend
FRONTEND_PORT_EXTERNAL=5173
VITE_API_BASE_URL=http://localhost:8080
